*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url(./images/parisbefore.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
.wrapper-drop{
    position: relative;
    height: 10%;
    width: 100%;
    top: 85%;
    display: flex;
}

.drop{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;    
    z-index: 4;

}
.drop2{
    justify-content: flex-end;
}


.drag{
    position: relative;
    height: 10vh;
    width: 10vh;
    background-color: rgb(240, 44, 10);
    border-radius: 50%;
    margin: 5%;
    transform: translate(0, 0);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drag-hide{
    display: none;
}

.fa{
    position: relative;
    color: white;
    margin: 10px;
    display: flex;
    align-items: center;
}
.future {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 100%;
    top: 0;
    background-image: url(./images/parisafter4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    filter: grayscale(0.8);
    z-index: 2;
    transform-origin: left bottom;
    transform: rotateZ(15deg); 
    transition: transform 0s ease, left 1s ease;
    
}

